config.cache
config.log
config.status
files.pck
Makefile
slang.pc

demo/*.o
demo/config.h
demo/Makefile
demo/keypad
demo/pager
demo/smgtest
demo/useropen

modules/config.h
modules/Makefile
modules/objs

slsh/config.h
slsh/Makefile
slsh/objs

src/config.h
src/sysconf.h
src/terminfo.inc
src/Makefile
src/elfobjs
src/objs

src/test/sltest
src/test/assoc
src/test/list
src/test/*.slc
